html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: sans-serif;
}

.full-height {
    height: 100%;
    min-height: 100%;
}

.bold-1 {
    font-weight: 400;
}


/* registration */

.reg-con-2 {
    padding: 20px 40px 0 40px;
    overflow: auto;
}

.reg-h-1 {}

.reg-p-1 {
    font-size: 13px;
}

.reg-form {
    padding-bottom: 40px;
}

.reg-form label {
    font-size: 15px;
}

.reg-input-oneline {
    padding-left: 0;
}

.form-inline .form-control.reg-input-inline {
    width: 49.4%;
}

.reg-btn-right {
    float: right;
}

.reg-btn-left {
    float: left;
}

.reg-checkbox label:hover {
    background-color: #eee;
}

.reg-display-table {
    font-size: 14px;
}

.reg-display-table td {
    padding: 3px;
}

.table>tbody>tr>th,
.table>tbody>tr>td {
    vertical-align: middle;
}

@media (max-width: 768px) {
    html,
    body {
        height: auto;
        overflow: auto;
    }
    .reg-con-1 {
        height: 200px;
    }
    .reg-con-2 {
        height: auto;
        padding: 0 15px;
    }
    .form-inline .form-control.reg-input-inline {
        width: 100%;
        margin-bottom: 5px;
    }
    .reg-display-table td[width="85%"]{
        width: 65%;
    }
    .reg-display-table td[width="65%"]{
        width: 55%;
    }
}
